@import "/public/variables.scss";
@import "/public/variables.scss";
@import "/public/mixin.scss";
@import "/public/critical.scss";

.hero {
  padding: 140px 100px;
  background-image: url("/src/assets/hero-bg-img.png");
  background-repeat: no-repeat;
  background-position: top right;

  @media (max-width: $desktop) {
    padding: 0;
    padding-top: 269px;
    padding-left: 100px;
    background-image: url("/src/assets/laptop-bg.png");
    z-index: -1;

    img {
      width: 290px;
      height: 196px;
    }
  }
  .hero__inner {
    display: flex;

    @media (max-width: $desktop) {
      justify-content: center;
    }
  }

  .hero__content {
    padding-right: 40px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    text-align: center;

    @media (max-width: $desktop) {
      padding-right: 18px;
      h2 {
        min-width: 395px;
      }
    }
    h2 {
      @include headerText;
      text-align: start;
      font-family: "Roboto", sans-serif;
      font-weight: 600;
      font-style: normal;
      font-size: 96px;
      line-height: 86px;
      color: $color-green;
      padding-bottom: 38px;
    }

    p {
      text-align: start;
      @include headerText(large-Medium-SemiBold);
      color: $color-grey400;
    }
  }
}
