@import "/src/scss/variables.scss";
@import "/src/scss/mixin.scss";
@import "/src/scss/critical.scss";

.header {
  .header__inner {
    position: fixed;
    background-color: $color-grey800;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
  }
  .header__nav {
    @include listReset;
    display: flex;
    width: 100%;
    margin-left: auto;

    a {
      @include headerText(large-Small-SemiBold);
      @include linkReset;
      color: $color-white;
      display: inline-flex;
      margin: 0 5px;
    }
  }
}
