$color-grey50: #f9fafb;
$color-grey100: #9ca3af;
$color-grey200: #e5e7eb;
$color-grey300: #d1d5db;
$color-grey400: #9ca3af;
$color-grey500: #6b7280;
$color-grey600: #4b5563;
$color-grey700: #374151;
$color-grey800: #1f2937;
$color-grey900: #111827;
$color-white: #ffffff;
$color-dark-blue: #022964;
$color-green: #5fd788;
$color-orange: #ff8c39;
$color-pink: #ec6890;
$color-purple: #b523fa;
$color-yellow: #fbae05;
$desktop-l: 1440px;
$desktop: 1200px;
$laptop: 768px;
