@import "/public/variables.scss";
@import "/public/mixin.scss";
@import "/public/critical.scss";

.img-with-text {
  padding-right: 91px;

  @media (max-width: $desktop) {
    padding: 200px 0;
    background-image: url("/img-with-text-bg-laptop.png");
    background-position: left;
    background-repeat: no-repeat;

    img {
      width: 0;
      opacity: 0;
    }
  }
  .img-with-text__inner {
    display: flex;
  }

  .img-with-text__content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
      @include headerText;
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 50px;
      line-height: 107.9%;
      text-align: right;
      letter-spacing: 0.01em;
      color: $color-green;
      padding-bottom: 32px;

      @media (max-width: $desktop) {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 107.9%;
        text-align: right;
        letter-spacing: 0.01em;
      }
    }

    p {
      @include headerText(large-Medium-SemiBold);
      text-align: right;
      margin-left: auto;
      max-width: 347px;
      color: $color-grey400;
      padding-bottom: 24px;
    }
  }
  a {
    @include linkReset;
    flex-wrap: wrap;
    color: $color-grey800;
    text-align: right;
    margin-left: auto;
    max-width: 270px;
    letter-spacing: 0.01em;
  }
}
